.App {
    text-align: center;
    margin: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  textarea {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }